<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>dynamic page</title>
</head>
<script type="text/javascript" src="./lib/jquery.min.js"></script>
<link rel="stylesheet" href="./lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="./js/main.js"></script>
<link rel="stylesheet" href="./css/main.css" media="screen" title="no title" charset="utf-8">

<body>
  <div class="container">
    <div class="form-group control">
      <input type="text" class="form-control" id="keywords">
      <div class="search-count">搜索到100条结果</div>
    </div>
    <div class="main-info"></div>
  </div>
</body>

</html>
