body {
  font-family: "Microsoft YaHei", Arial, Tahoma;
}
.container {
  padding-top: 20px;
}
.info-box {
  padding: 0 10px;
  height: 70px;
  border-bottom: dashed 1px #CCCCCC;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.info {
  float: left;
  line-height: 70px;
  color: #353535;
  font-size: 17px;
}
.timestamp {
  color: #999999;
  font-style: italic;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.highlightingText {
  color: #ffffff;
  background: #6699cc;
  border-radius: 2px;
}
.del-button {
  float: right;
  margin-top: 10px;
}
.search-count {
  position: absolute;
  right: 15px;
  top: 7px;
  color: #999999;
  font-style: italic;
}
.control {
  position: relative;
}
.add-item {
  float: left;
  margin-top: 25px;
}
.page-box {
  float: right;
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.tcdPageCode {
  padding: 15px 20px;
  text-align: left;
  color: #ccc;
}
.tcdPageCode a {
  display: inline-block;
  color: #428bca;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  border-radius: 4px;
  vertical-align: middle;
}
.tcdPageCode a:hover {
  text-decoration: none;
  border: 1px solid #428bca;
}
.tcdPageCode span.current {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #fff;
  background-color: #428bca;
  border: 1px solid #428bca;
  border-radius: 4px;
  vertical-align: middle;
}
.tcdPageCode span.disabled {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #bfbfbf;
  background: #f2f2f2;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  vertical-align: middle;
}
